<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTests" parallel="false">
  <test name="API">
    <packages>
      <package name="tests.api"/>
    </packages>
  </test>
  <test name="UI">
    <packages>
      <package name="tests.ui"/>
    </packages>
  </test>
  <test name="LegacySamples">
    <packages>
      <package name="tests"/>
    </packages>
  </test>
</suite>
